@import '../variables.scss',  '../fonts.scss', '../medias.scss', './medias-reflexologie.scss', '../main.scss';

// ----------------------------------------- TITLE PRESTA -----------------------------------------
#title-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    padding-bottom: 3rem;
    .title-page {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        width: 100%;
        gap: 10rem;
        h1 {
            font-size: 2.5rem;
            font-family: 'halimun';
            color: $dark-color;
            text-align: center;
        }
        img{
            width: 250px;
            height: 300px;
            border-top-left-radius: 150px;
            border-top-right-radius: 150px;
        }
    }
}

// ----------------------------------------- PRESENTATION -----------------------------------------

#presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 3rem;
    .presentation {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 1200px;
        width: 60%;
        gap: 0.5rem;
        p {
            font-size: 1.2rem;
            font-family: 'cormorant';
            color: $dark-color;
            text-align: center;
        }
    }
}

// ----------------------------------------- INFOS -----------------------------------------

#infos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 4rem;
    padding: 3rem 0;
    .infos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        width: 80%;
        gap: 2.5rem;
        p {
            font-size: 1.1rem;
            font-family: 'cormorant';
            color: $dark-color;
            text-align: center;
        }
        .check-info {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 0.5rem;
            min-width: 200px;
            .info {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                p {
                    font-size: 1rem;
                    font-family: 'circe';
                    color: $dark-color;
                    text-transform: uppercase;
                }
            }
            .check {
                width: 50px;
                height: 50px;
                min-width: 50px;
                max-width: 50px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

// ----------------------------------------- WHY -----------------------------------------

#why {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3rem 0 4rem 0;
    .why {
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        width: 100%;
        gap: 2.5rem;
        h3 {
            font-size: 2rem;
            font-family: 'halimun';
            color: $dark-color;
            text-align: center;
            padding-bottom: 2rem;
        }
        .why-text {
            display: flex;
            flex-direction: column;
            justify-self: end;
            gap: 0.5rem;
            margin: 0 auto;
            width: 80%;
            .bold-italic {
                font-family: 'cormorant';
                color: $dark-color;
                font-weight: bold;
                font-style: italic;
            }
            p {
                font-size: 1rem;
                font-family: 'cormorant';
                color: $dark-color;
            }
        }
    }
}

// ----------------------------------------- DANGER -----------------------------------------

#danger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3rem 0;
    background-color: $secondary-color;
    .danger {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1200px;
        width: 60%;
        gap: 2.5rem;

        h3 {
            font-size: 1rem;
            text-transform: uppercase;
        }

        p {
            font-size: 1rem;
            font-weight: 400;
            text-transform: uppercase;
        }
    }
}

// ----------------------------------------- DURATION PRICE -----------------------------------------

#duration-price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3rem 0;
    .duration-price {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1200px;
        width: 60%;
        gap: 3.5rem;
        .intro {
            display: flex;
            justify-content: center;
            align-items: center;
            p {
                font-size: 1.1rem;
                font-family: 'cormorant';
                color: $dark-color;
                text-align: center;
            }
        }
        .duration {
            display: flex;
            align-items: center;
            gap: 1rem;
            p {
                font-size: 1rem;
                font-weight: 600;
            }
        }
        .price {
            display: flex;
            align-items: center;
            gap: 1rem;
            p {
                font-size: 1rem;
                font-weight: 600;
            }
        }
        .btn-secondary {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 1.5rem;
        }
    }
}