
@font-face {
    font-family: 'lato';
    src: '../fonts/lato/Lato-Regular.ttf';
}
@font-face {
    font-family: 'halimun';
    src: '../fonts/Halimun/Halimun.ttf';
}
@font-face {
    font-family: 'cormorant';
    src: '../fonts/cormorant/CormorantGaramond-Regular.ttf';
}