@import './variables.scss', './medias.scss';

@font-face {
    font-family: 'lato';
    src: url('../fonts/Lato/Lato-Regular.ttf');
}
@font-face {
    font-family: 'halimun';
    src: url('../fonts/Halimun/Halimun.ttf');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'lato', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: $primary-color;
    margin: 0 auto;
}
//----------------------------------------BUTTON ------------------------------------------------
#menu-btn
{
    display: none;
    .img-btn-menu {
        &.rotate0 {
            transform: rotate(0deg);
            transition: 0.5s;
        }
        &.rotate90 {
            transform: rotate(90deg);
            transition: 0.5s;
        }
    }
    
}

.btn-primary {
    a {
        text-decoration: none;
        color: $tertiary-color;
        background-color: $primary-color;
        padding: 0.5rem 2rem;
        border-radius: 3px;
        border : 2px solid $secondary-color;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    a:hover {
        background-color: $secondary-color;
        color: $primary-color;
        border : 2px solid $primary-color;
        box-shadow: none;
    }
}
.btn-secondary {
    a {
        text-decoration: none;
        color: $tertiary-color;
        background-color: $secondary-color;
        padding: 0.5rem 2rem;
        border-radius: 3px;
        border : 2px solid $tertiary-color;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    a:hover {
        background-color: $primary-color;
        color: $secondary-color;
        border : 2px solid $secondary-color;
        box-shadow: none
    }
}
// ----------------------------------------NAVBAR ------------------------------------------------
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 5rem;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    .logo{
        font-size: 1.5rem;
        font-family: 'halimun', sans-serif;
        justify-self: start;
        color: $tertiary-color;
    }
    ul {
        display: flex;
        list-style: none;
        text-align: center;
        gap: 1.5rem;

        a {
            text-decoration: none;
            color: $tertiary-color;
            text-transform: uppercase;
            font-size: 0.9rem;
        }
        a:hover {
            color: $secondary-color;
        }
    }
}
#menu-sm {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        text-align: center;
        gap: 0.5rem;
        padding: 0 0 1rem 0;
        a {
            text-decoration: none;
            color: $tertiary-color;
            text-transform: uppercase;
            font-size: 0.9rem;
        }
    }
    &.hidden {
        display: none;
    }
    &.show {
        display: flex;
    }
}
// ---------------------------------------- BANNER ------------------------------------------------
.banner {
    background-image: url('../img/cabinet.jpg') ;
    height: 412px;
    width: 100%;
    background-size:cover;
    background-position: center;
    position: relative;

    .text-banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 1200px;
        margin: 0 auto;
        height: 100%;
        .glassmorphism {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
            height: 60%;
            width: 47%;
            padding: 2rem 1.5rem 3rem 1.5rem;
            background-color: rgba(255, 255, 255, 0.5);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(3px);
            border-radius: 10px;
            
            h1 {
                display: flex;
                color: #222;
                text-transform: uppercase;
                font-size: 1.7rem;
                
            }
            p {
                color: #111;
                font-size: 1rem;
                max-width: 500px;
                padding-bottom: 1rem;
            }
        }
    }
}


// ------------------------------------- ABOUT --------------------------------------------
#text-about {
    background-color: $secondary-color;
    width: 100%;


    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        padding: 2rem 0; 

        .svg-about {
            display: flex;
            p { 
                display: flex;
                align-items: center;
                gap: 0.5rem;
                color: $tertiary-color;
            }
        }
        .text-about {
            color: $tertiary-color;
            max-width: 1000px;
            padding: 2rem 0;
            p {
                text-align: center;
                line-height: 1.9rem;
                font-style: italic;
            }
        }
    }
}

// ------------------------------------- SOINS --------------------------------------------

#soins {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;
        h2 {
            color: $tertiary-color;
            font-size: 1.5rem;
            font-family: 'halimun', sans-serif;
            padding-bottom: 2rem;
        }
    
    .soins-primary {
        width: 100%;
        .card-soin {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10rem;
            max-width: 1200px;
            margin: 0 auto;
            .img-soin {
                padding: 1rem 0;
                img {
                    width: 250px;
                    height: 250px;
                    border-radius: 5px;
                    border: 2px solid $secondary-color;
                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
                }
            }
            .text-soin {
                display: flex;
                flex-direction: column;
                width: 500px;
                justify-content: space-between;
                gap: 1rem;
                h3 {
                    color: $tertiary-color;
                    text-transform: uppercase;
                }
                p {
                    color: $tertiary-color;
                    font-size: 1rem;
                    padding-bottom: 1rem;
                }
            }
        }
    }
    .soins-secondary {
        width: 100%;
        background-color: $primary-color;
        .card-soin {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10rem;
            max-width: 1200px;
            margin: 0 auto;
            .img-soin {
                padding: 2rem 0;
                img {
                    width: 250px;
                    height: 250px;
                    border-radius: 5px;
                    border: 1px solid $secondary-color;
                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
                }
            }
            .text-soin {
                display: flex;
                flex-direction: column;
                width: 500px;
                justify-content: space-between;
                gap: 1rem;
                h3 {
                    color: $tertiary-color;
                    text-transform: uppercase;
                }
                p {
                    color: $tertiary-color;
                    font-size: 1rem;
                    padding-bottom: 1rem;
                }
            }
        }
    }
}

// ------------------------------------- REVIEWS --------------------------------------------

#reviews {
    background-color: $secondary-color;
    width: 100%;
    justify-content: center;
    h2 {
        color: $tertiary-color;
        font-size: 1.5rem;
        font-family: 'halimun', sans-serif;
        padding: 2rem 0;
        text-align: center;
    }
    // ------------------------------------- CAROUSEL --------------------------------------------
    
    
    .reviews-container {
        max-width: 1200px;
        padding: 1rem 0 3rem 0;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        .cards-reviews {
            .carousel {
                position: relative;
                width: 100%;
                max-width: 1000px;
                overflow: hidden;
                .carousel-slides {
                    display: flex;
                    margin: 0 auto;
                    transition: transform 0.5s ease;
                }
                .carousel-item {
                    display: flex;
                    justify-content: center;
                    min-width: 100%;
                    padding: 2rem;
                    img {
                        width: 500px;
                        height: 500px;
                        border-radius: 5px;
                        border: 1px solid $secondary-color;
                        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
                    }
                }
                .carousel-btn {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    color: $primary-color;
                    border: none;
                    padding: 10px;
                    cursor: pointer;
                    background: none;
                    &.prev {
                        left: 10px;
                    }
                    &.next {
                        right: 10px;
                    }
                    svg {
                        width: 50px;
                        height: 70px;
                    }
                }
                .carousel-btn:hover {
                    color: $tertiary-color;
                }
            }
        }
    }
}

// ------------------------------------- POSTS INSTAGRAM --------------------------------------------

#posts-instagram {
    width: 100%;
    justify-content: center;
    padding: 2rem 0;
    h2 {
        color: $tertiary-color;
        font-size: 1.5rem;
        font-family: 'halimun', sans-serif;
        padding: 2rem 0;
        text-align: center;
    }
    .posts-container {
        max-width: 1200px;
        height: 350px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        padding: 2.5rem 0;

        .card-post {
            display: flex;
            a {
                text-decoration: none;
                max-width: 120px;
                max-height: 120px;
                img {
                    width: 250px;
                    height: 250px;
                    border-radius: 5px;
                    border: 1px solid $secondary-color;
                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
                }
            }
        }
    }
}

// ------------------------------------- FOOTER --------------------------------------------

footer {
    width: 100%;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #555;

    .footer-container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        .footer-infos {
            position: relative;
            padding-right: 1.5rem;
            .footer-logo {
                display: flex;
                align-items: center;
                justify-content: center;
                color: $tertiary-color;
                p {
                    font-family: 'halimun', sans-serif;
                    line-height: 2.5rem;
                }
            }
            .footer-social {
                display: flex;
                align-items: center;
                justify-content: center;
                a {
                    text-decoration: none;
                    color: $tertiary-color;
                    svg {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
            .footer-tel {
                display: flex;
                align-items: center;
                justify-content: center;
                p {
                    color: $tertiary-color;
                    line-height: 2rem;
                }
            }
            .footer-adress {
                display: flex;
                align-items: center;
                justify-content: center;
                p {
                    color: $tertiary-color;
                    text-align: center;
                }
            }
        }
        .footer-menu {
            position: relative;
            padding-right: 1.5rem;
            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                a {
                    text-decoration: none;
                    color: $tertiary-color;
                }
            }
        }
        .footer-legal {
            display: flex;
            a {
                text-decoration: none;
                color: $tertiary-color;
            }
        }
        .footer-infos::after,
        .footer-menu::after {
            content: "";
            position: absolute;
            top: 50%; /* Positionne le pseudo-élément à mi-hauteur */
            right: 0; /* Place le pseudo-élément à droite de la section */
            transform: translateY(-50%); /* Centre verticalement le pseudo-élément */
            width: 1px; /* Largeur de la bordure */
            height: 60%; /* Hauteur personnalisée de la bordure (ajustez ce pourcentage) */
            background-color: $tertiary-color; /* Couleur de la bordure */
            
        }
    }
}