@import './variables.scss',
         './medias.scss',
          './fonts.scss',
          './presta/drainage.scss',
          './presta/hydraface.scss',
          './presta/kobido.scss',
          './presta/reflexologie.scss',
          './presta/soins-du-ventre.scss',
          './presta/spa-capilaire.scss',
          './presta/tarifs.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'lato', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: $primary-color;
    margin: 0 auto;
}

//----------------------------------------BUTTON ------------------------------------------------
#menu-btn
{
    display: none;
    .img-btn-menu {
        &.rotate0 {
            transform: rotate(0deg);
            transition: 0.5s;
        }
        &.rotate90 {
            transform: rotate(90deg);
            transition: 0.5s;
        }
    }  
}

.btn-primary {
    a {
        text-decoration: none;
        color: $tertiary-color;
        background-color: $primary-color;
        padding: 0.5rem 2rem;
        border-radius: 20px;
        border : 2px solid $secondary-color;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    a:hover {
        background-color: $secondary-color;
        color: $dark-color;
        border : 2px solid $primary-color;
        box-shadow: none;
    }
}
.btn-secondary {
    a {
        text-decoration: none;
        color: $tertiary-color;
        background-color: $secondary-color;
        padding: 0.5rem 2rem;
        border-radius: 20px;
        border : 2px solid $tertiary-color;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    a:hover {
        background-color: $primary-color;
        color: $dark-color;
        border : 2px solid $dark-color;
        box-shadow: none
    }
}
// ----------------------------------------NAVBAR ------------------------------------------------
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 5rem;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    .logo{
        a {
            font-size: 1.5rem;
            font-family: 'halimun', sans-serif;
            justify-self: start;
            color: $tertiary-color;
            text-decoration: none;
        }
    }
    ul {
        display: flex;
        position: relative;
        list-style: none;
        gap: 1.5rem;

        a {
            text-decoration: none;
            color: $tertiary-color;
            text-transform: uppercase;
            font-size: 0.9rem;
            cursor: pointer;
        }
        a:hover {
            color: $dark-color;
        }
    }
    .dropdown {
        position: relative;
        display: inline-block;
        align-items: center;
        .dropdown-content {
            display: none;
            position: absolute;
            top: 100%;
            left: 0%;
            padding: 1rem 2rem;
            background-color: $primary-color;
            min-width: 100px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            a {
                color: $tertiary-color;
                text-decoration: none;
                display: flex;
            }
            a:hover {
                color: $dark-color;
            }
        }
        &:hover .dropdown-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
        }
    }
}
#menu-sm {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        text-align: center;
        gap: 0.5rem;
        padding: 0 0 1rem 0;
        a {
            text-decoration: none;
            color: $tertiary-color;
            text-transform: uppercase;
            font-size: 0.9rem;
        }

    }
    .dropdown {
        position: relative;
        display: inline-block;
        .dropdown-content {
            display: none;
            top: 100%;
            left: 0%;
            padding: 1rem 2rem;
            a {
                color: $tertiary-color;
                text-decoration: none;
            }
            a:hover {
                color: $secondary-color;
            }
            p {
                color: $tertiary-color;
                text-transform: uppercase;

            }
            p:hover {
                color: $dark-color;
                cursor: pointer;
            }
            
        }
        &:hover .dropdown-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
        }
    }
    &.hidden {
        display: none;
    }
    &.show {
        display: flex;
    }
}
// ---------------------------------------- BANNER ------------------------------------------------
.banner {
    transform: translateY(+100%);
    animation: all 1.5s ease-in;
    filter: blur(2px);
    opacity:0;
    animation: show 1s ease-in-out forwards;
    overflow: hidden;
    background-image: url('../img/cabinet.jpg') ;
    height: 412px;
    width: 100%;
    background-size:cover;
    background-position: center;
    position: relative;
    @keyframes show {
        0% {
            transform: translateY(+100%);
            filter: blur(2px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            filter: blur(0);
            opacity: 1;
        }
    }
    .text-banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 1200px;
        margin: 0 auto;
        height: 100%;
        padding: 0 2rem;
        .glassmorphism {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
            height: 60%;
            width: 47%;
            padding: 2rem 1.5rem 3rem 1.5rem;
            background-color: rgba(255, 255, 255, 0.5);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(3px);
            border-radius: 10px;
            
            h1 {
                display: flex;
                color: #222;
                text-transform: uppercase;
                font-size: 1.3rem;
                font-family: 'cormorant';
                
            }
            p {
                color: #111;
                font-size: 1.2rem;
                max-width: 500px;
                padding-bottom: 1rem;
                font-family: 'cormorant';
            }
        }
    }
}


// ------------------------------------- ABOUT --------------------------------------------
#text-about {
    transform: translateY(+100%);
    animation: all 1.5s ease-in;
    filter: blur(2px);
    opacity:0;
    animation: show 1.5s 0.2s ease-in-out forwards;
    overflow: hidden;
    background-color: $secondary-color;
    width: 100%;
    @keyframes show {
        0% {
            transform: translateY(+100%);
            filter: blur(2px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            filter: blur(0);
            opacity: 1;
        }
    }

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        padding: 2rem 0; 

        .svg-about {
            display: flex;
            p { 
                display: flex;
                align-items: center;
                gap: 0.5rem;
                color: $tertiary-color;
            }
        }
        .text-about {
            color: #111;
            max-width: 1000px;
            padding: 2rem 0;
            p {
                text-align: center;
                line-height: 1.9rem;
                font-style: italic;
                font-family: 'cormorant';
                font-size: 1.1rem;
                color: #000;
            }
        }
    }
}

// ------------------------------------- SOINS --------------------------------------------

#soins {
    transform: translateY(+100%);
    animation: all 1.5s ease-in-out;
    filter: blur(2px);
    opacity:0;
    animation: show 1s 0.7s ease forwards;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;
    @keyframes show {
        0% {
            transform: translateY(+100%);
            filter: blur(2px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            filter: blur(0);
            opacity: 1;
        }
    }
        h2 {
            color: $tertiary-color;
            font-size: 1.5rem;
            font-family: 'halimun', sans-serif;
            padding-bottom: 2rem;
        }
    
    .soins-primary {
        width: 100%;
        .card-soin {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10rem;
            max-width: 1200px;
            margin: 0 auto;
            .img-soin {
                padding: 1rem 0;
                img {
                    width: 250px;
                    height: 250px;
                    border-radius: 100%;
                    object-fit: cover;
                    border: 2px solid $secondary-color;
                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
                }
            }
            .text-soin {
                display: flex;
                flex-direction: column;
                width: 500px;
                justify-content: space-between;
                gap: 1rem;
                h3 {
                    color: $tertiary-color;
                    text-transform: uppercase;
                }
                p {
                    color: $tertiary-color;
                    font-size: 1rem;
                    padding-bottom: 1rem;
                }
            }
        }
    }
    .soins-secondary {
        width: 100%;
        background-color: $primary-color;
        .card-soin {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10rem;
            max-width: 1200px;
            margin: 0 auto;
            .img-soin {
                padding: 2rem 0;
                img {
                    width: 250px;
                    height: 250px;
                    border-radius: 100%;
                    border: 1px solid $secondary-color;
                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
                }
            }
            .text-soin {
                display: flex;
                flex-direction: column;
                width: 500px;
                justify-content: space-between;
                gap: 1rem;
                h3 {
                    color: $tertiary-color;
                    text-transform: uppercase;
                }
                p {
                    color: $tertiary-color;
                    font-size: 1rem;
                    padding-bottom: 1rem;
                }
            }
        }
    }
}

// ------------------------------------- REVIEWS --------------------------------------------

#reviews {
    background-color: $secondary-color;
    width: 100%;
    justify-content: center;
    h2 {
        color: $tertiary-color;
        font-size: 1.5rem;
        font-family: 'halimun', sans-serif;
        padding: 2rem 0;
        text-align: center;
    }
    // ------------------------------------- CAROUSEL --------------------------------------------
    
    
    .reviews-container {
        max-width: 1200px;
        padding: 1rem 0 3rem 0;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        .cards-reviews {
            display:flex;
            justify-content: center;
            .carousel {
                position: relative;
                width: 100%;
                max-width: 1000px;
                overflow: hidden;
                .carousel-slides {
                    display: flex;
                    margin: 0 auto;
                    transition: transform 0.5s ease;
                }
                .carousel-item {
                    display: flex;
                    justify-content: center;
                    min-width: 100%;
                    padding: 2rem;
                    img {
                        width: 500px;
                        height: 500px;
                        border-radius: 5px;
                        border: 1px solid $secondary-color;
                        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
                    }
                }
                .carousel-btn {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    color: $tertiary-color;
                    border: none;
                    padding: 10px;
                    cursor: pointer;
                    background: none;
                    &.prev {
                        left: 10px;
                    }
                    &.next {
                        right: 10px;
                    }
                    svg {
                        width: 50px;
                        height: 70px;
                    }
                }
                .carousel-btn:hover {
                    color: $dark-color;
                }
            }
        }
    }
}

// ------------------------------------- POSTS INSTAGRAM --------------------------------------------

#posts-instagram {
    width: 100%;
    justify-content: center;
    padding: 2rem 0;
    h2 {
        color: $tertiary-color;
        font-size: 1.5rem;
        font-family: 'halimun', sans-serif;
        padding: 2rem 0;
        text-align: center;
    }
    .posts-container {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        padding: 2.5rem 0;
        justify-content: center!important;
        align-items: center;

        .card-post {
            width: 250px;
            height: 250px;
            margin: 0 auto;
            a {
                text-decoration: none;
                max-width: 120px;
                max-height: 120px;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    border: 1px solid $secondary-color;
                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
                }
            }
        }
    }
}

// ------------------------------------- FOOTER --------------------------------------------

footer {
    width: 100%;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #555;

    .footer-container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        .footer-infos {
            position: relative;
            padding-right: 1.5rem;
            .footer-logo {
                display: flex;
                align-items: center;
                justify-content: center;
                a {
                    text-decoration: none;
                    color: $tertiary-color;
                    p {
                        font-family: 'halimun', sans-serif;
                        line-height: 2.5rem;
                    }
                }

            }
            .footer-social {
                display: flex;
                align-items: center;
                justify-content: center;
                a {
                    text-decoration: none;
                    color: $tertiary-color;
                    svg {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
            .footer-tel {
                display: flex;
                align-items: center;
                justify-content: center;
                a {
                    color: $tertiary-color;
                    line-height: 2rem;
                    text-decoration: none;
                }
            }
            .footer-adress {
                display: flex;
                align-items: center;
                justify-content: center;
                p {
                    color: $tertiary-color;
                    text-align: center;
                }
            }
        }
        .footer-menu {
            display: flex;
            position: relative;
            padding-right: 1.5rem;
            gap: 1.5rem;
            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                a {
                    text-decoration: none;
                    color: $tertiary-color;
                }
            }
        }
        .footer-legal {
            display: flex;
            a {
                text-decoration: none;
                color: $tertiary-color;
            }
        }
        .footer-infos::after,
        .footer-menu::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 0; 
            transform: translateY(-50%); 
            width: 1px; 
            height: 60%; 
            background-color: $tertiary-color; 
            
        }
    }
}