@media screen and (max-width: 768px) {

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .menu {
            display: none;
        }
        #menu-btn {
            display: flex;
        }

    }
}